<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><% this.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<% get('paths').root %>public/font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="<% get('paths').root %>public/css/styles.css">
    <link rel="stylesheet" href="<% get('paths').root %>public/prism/prism.css" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="<% get('paths').root %>public/img/favicon.png" />
</head>
<body>
    <div class="content">
	   <% get('content') %>
    </div>
	<script src="<% get('paths').root %>public/prism/prism.js"></script>
	<script src="<% get('paths').root %>public/js/scripts.js"></script>
</body>
</html>