<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><% this.pageTitle %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/styles.css">
        <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/public/font-awesome-4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/prism/prism.css" />
    </head>
    <body>

		<!-- facebook -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=130923167067801";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="sitemap">
        	<div class="close">
        		<a href="#" data-absurd-event="click:close"><i class="fa fa-times-circle-o"></i></a>
        	</div>
        	<div class="links">
				<% this.sitemap %>
			</div>
		</div>

		<div class="content">
			
	        <nav class="content-nav">
	        	<ul>
	        		<li class="left"><a href="/"><i class="fa fa-home"></i> <span>Home</span></a></li>
	        		<li class="right sitemap-button" data-absurd-event="click:clicked"><a href="/"><span>Menu</span> <i class="fa fa-bars"></i></a></li>
	        	</ul>			
	        </nav>

			<div class="content-container">
				<a href="/pages/documentation" class="doc-home" title="Documentation's Index">
					<i class="fa fa-arrow-circle-o-left"></i>
				</a>
				<a href="https://github.com/krasimir/absurdjs.com/tree/master<% this.markdownFile %>" class="page-edit" title="Edit this page" target="_blank">
					<i class="fa fa-edit"></i>
				</a>
				<content>
				<br /><br />
				<hr />
				<div class="guide">
					<a href="<% this.guide.previousPath %>"><% this.guide.previousName %></a>
					<a href="<% this.guide.nextPath %>"><% this.guide.nextName %></a>
				</div>
				<hr />
			        <div id="disqus_thread"></div>
				    <script type="text/javascript">
				        var disqus_shortname = 'absurdjs';
                        var disqus_identifier = "<% this.url %>";
                        var disqus_url = "http://absurdjs.com<% this.url %>";
                        var disqus_title = "<% this.url %>";
				        (function() {
				            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				        })();
				    </script>
				    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>   		    
			</div>

			<div class="footer-content">
				<a href="javascript:void" class="open" data-absurd-event="click:toggle"><i class="fa fa-angle-up"></i></a>
				<div class="container">
					<div class="about-the-author">
						<h3>About the author</h3>
		                <p>
		                    <a href="http://krasimirtsonev.com" target="_blank"><i class="fa fa-coffee"></i> Krasimir Tsonev</a>
		                </p>
		                <p class="social">
		                	<a href="https://github.com/krasimir" target="_blank"><i class="fa fa-github"></i></a>
		                	<a href="http://twitter.com/KrasimirTsonev" target="_blank"><i class="fa fa-twitter"></i></a>
		                	<a href="http://www.facebook.com/profile.php?id=617578836" target="_blank"><i class="fa fa-facebook"></i></a>
		                </p>
					</div>
					<div>
						<h3>About the library</h3>
						<p>
							<a href="https://github.com/krasimir/absurd" target="_blank"><i class="fa fa-github"></i> github.com/krasimir/absurd</a><br />
							<a href="https://github.com/krasimir/absurdjs.com/blob/master/LICENSE" target="_blank"><i class="fa fa-file-text-o"></i> License (MIT)</a><br />
						</p>
					</div>
				</div>
			</div>

		</div>

        <script src="/public/prism/prism.js"></script>
        <script src="/builds/absurd.organic.min.js"></script>
        <script src="/builds/absurd.min.js"></script>
		<script src="/public/scripts.js"></script>

		<script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-1621908-2', 'absurdjs.com');
          ga('send', 'pageview');
        </script>

    </body>
</html>