<div class="footer-content">
	<a href="javascript:void" class="open" data-absurd-event="click:toggle"><i class="fa fa-angle-up"></i></a>
	<div class="container">
		<div class="about-the-author">
			<h3>About the author</h3>
            <p>
                <a href="http://krasimirtsonev.com" target="_blank"><i class="fa fa-coffee"></i> Krasimir Tsonev</a>
            </p>
            <p class="social">
            	<a href="https://github.com/krasimir" target="_blank"><i class="fa fa-github"></i></a>
            	<a href="http://twitter.com/KrasimirTsonev" target="_blank"><i class="fa fa-twitter"></i></a>
            	<a href="http://www.facebook.com/profile.php?id=617578836" target="_blank"><i class="fa fa-facebook"></i></a>
            </p>
		</div>
		<div>
			<h3>About Techy</h3>
			<p>
				<a href="https://github.com/krasimir/techy" target="_blank"><i class="fa fa-github"></i> https://github.com/krasimir/techy</a><br />
				<a href="https://github.com/krasimir/techy/blob/master/LICENSE" target="_blank"><i class="fa fa-file-text-o"></i> License (MIT)</a><br />
			</p>
		</div>
	</div>
</div>