/* misc */

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 34px;
  font-family: 'Average Sans', sans-serif;
  background: #FFF;
  color: #313131;
}
a {
  font-weight: bold;
  border-bottom: dotted 1px #c7c7c7;
  text-decoration: none;
  color: #313131;
}
a:hover {
  border-bottom: dotted 1px #999;
  color: #DC4141;
}
p {
  font-size: 20px;
  line-height: 34px;
}
hr {
  border-bottom: none;
  border-top: solid 4px #e6e6e6;
}
blockquote {
  border-left: solid 4px #999;
  padding:  0 0 0 20px;
  margin: 0;
}
blockquote p {
  color: #999;
}
table {
  border-spacing: 0;
}
table td {
  border-top: solid 1px #B3B3B3;
  border-left: solid 1px #B3B3B3;
  padding: 6px;
  word-wrap: break-word;
}
.left {
  float: left;
}
.right {
  float: right;
}

/* headings */

h1 {
  font-size: 60px;
  line-height: 70px;
  padding: 0 0 40px 0;
  margin: 50px 0 30px 0;
}
h2 {
  font-size: 36px;
  line-height: 40px;
}
h3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}
h4 {
  font-size: 30px;
  line-height: 34px;
  font-weight: normal;
}
h5 {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
}
h6 {
  font-size: 20px;
  line-height: 24px;
}

/* scroller */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -ms-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -o-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgba(150,150,150,0.8);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -webkit-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -moz-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -ms-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -o-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(150,150,150,0.4);
}

/* lists */

ul {
  margin: 30px 0 30px 22px;
  padding: 0;
  list-style-type: circle;
}
ul li {
  margin: 0;
  padding: 0;
}
ol {
  margin: 30px 0 30px 22px;
  padding: 0;
  list-style-type: circle;
}
ol li {
  margin: 0;
  padding: 0;
}

/* code */

code[class*="language-"] {
  font-size: 14px;
  line-height: 20px;
}
p code[class*="language-"] {
  font-size: 18px;
  border: solid 1px #D8D8D8;
  display: inline-block;
  padding: 0 10px 0 10px;
}
pre[class*="language-"] {
  font-size: 14px;
  line-height: 20px;
}
p pre[class*="language-"] {
  font-size: 18px;
  border: solid 1px #D8D8D8;
  display: inline-block;
  padding: 0 10px 0 10px;
}
pre {
  box-shadow: 0 0 2px 1px #ccc;
  -webkit-box-shadow: 0 0 2px 1px #ccc;
  -moz-box-shadow: 0 0 2px 1px #ccc;
}

/* grids */

.grid-2:before {
  content: " ";
  display: table;
  clear: both;
}
.grid-2:after {
  content: " ";
  display: table;
  clear: both;
}
.grid-2 .grid-column {
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 50.00%;
}
.grid-2 .grid-column p {
  padding-left: 0;
  pd: 0;
}
.grid-3:before {
  content: " ";
  display: table;
  clear: both;
}
.grid-3:after {
  content: " ";
  display: table;
  clear: both;
}
.grid-3 .grid-column {
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 33.33%;
}
.grid-3 .grid-column p {
  padding-left: 0;
  pd: 0;
}
.grid-4:before {
  content: " ";
  display: table;
  clear: both;
}
.grid-4:after {
  content: " ";
  display: table;
  clear: both;
}
.grid-4 .grid-column {
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 25.00%;
}
.grid-4 .grid-column p {
  padding-left: 0;
  pd: 0;
}

/* main container */

.content {
  max-width: 650px;
  margin: 40px auto;
}

/* responsive */

@media all and (max-width: 600px) {
  p {
    font-size: 18px;
    line-height: 28px;
  }
  h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 20px 0 10px 0;
    padding: 0 0 20px 0;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
  h3 {
    font-size: 26px;
    line-height: 26px;
  }
  h4 {
    font-size: 22px;
    line-height: 22px;
  }
  h5 {
    font-size: 18px;
    line-height: 18px;
  }
  h6 {
    font-size: 18px;
    line-height: 18px;
  }
  .grid-2 .grid-column {
    float: none;
    width: 100%;
  }
}
@media all and (max-width: 670px) {
  .grid-3 .grid-column {
    float: none;
    width: 100%;
  }
}
@media all and (max-width: 700px) {
  .grid-4 .grid-column {
    float: none;
    width: 100%;
  }
}
